.jobsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    justify-items: center; 
    align-items: center; 
  }

  @media screen and (min-width: 720px) and (max-width: 1200px) {
    .jobsContainer {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media screen and (max-width: 720px) {
    .jobsContainer {
      grid-template-columns: 1fr; 
    }
  }